.contrast-map {
  min-height: 56.25vw;
  overflow: hidden;
  background-color: rgba(#000, .125);
  position: relative;

  .contrast-map__legend,
  .contrast-map__image,
  .contrast-map__overlay {
    display: none;
  }

  &--ready {
    display: block;

    .contrast-map__legend,
    .contrast-map__image,
    .contrast-map__overlay {
      display: block;
    }

    .spinner {
      display: none;
    }
  }
}
.contrast-map__image {
  display: block;
  height: auto;
  width: 100%;
}
.contrast-map__overlay {
  display: block;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;

  filter: blur(2px);
}
.contrast-map__legend {
  padding: $spacing--small;
  margin: 0;
  background-color: #000;
  color: #fff;

  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  list-style-type: none;
}
.contrast-map__legend-level--aaa {
  color: #0f0;
}
.contrast-map__legend-level--aa {
  color: #f80;
}
.contrast-map__legend-level--a {
  color: #f00;
}
