<div class="contrast-map js-contrast-map" data-contrast-image-url="{{validate.imageUrl}}">
  <ul class="contrast-map__legend">
    <li><span class="contrast-map__legend-level contrast-map__legend-level--aaa">Green</span> <span class="contrast-map__legend-level-label">WCAG level AAA</span></li>
    <li><span class="contrast-map__legend-level contrast-map__legend-level--aa">Orange</span> <span class="contrast-map__legend-level-label">WCAG level AA</span></li>
    <li><span class="contrast-map__legend-level contrast-map__legend-level--a">Red</span> <span class="contrast-map__legend-level-label">WCAG level A</span></li>
  </ul>

  {{> spinner}}
</div>
