<h1>Kontraster</h1>
<p>Test your website’s text to background color contrast ratio to check WCAG validity.</p>

<form action="/audit" enctype="" method="get">

    <label for="input-url">Website (required)</label>

    <div class="quick-input">

        <input type="url" name="url" id="input-url" required
          {{#if validate.url}}value="{{{validate.url}}}"{{/if}}
          {{#if error}}aria-invalid="true" aria-describedby="input-url-errors"{{/if}}>

        <button type="submit" class="button">Run tests</button>

    </div>

    {{#if error}}
        <div class="error-message" id="input-url-errors">{{error}}</div>
    {{/if}}

</form>
