<main>
  <div class="container">
    {{> form }}
  </div>

  {{#if validate.imageUrl}}
    <div class="container">
      <h2>Validating {{validate.url}}</h2>
    </div>

    {{> contrast-map }}
  {{/if}}
</main>

<script src="/assets/scripts/app.js"></script>
