<main>
  <div class="container">
    {{> form }}
  </div>

  <div class="container">
    <h2>Validating {{validate.url}}</h2>
  </div>

  {{#if validate.imageUrl}}
    {{> contrast-map }}
  {{/if}}
</main>

<script src="/assets/scripts/app.js"></script>
