<main>
    <div class="container">
        <h1>Validating {{validate.url}}</h1>
    </div>

    <div class="contrast-map js-contrast-map">
        <img src="{{validate.screenshot}}" alt="" class="contrast-map__image">
    </div>
</main>

<script src="/assets/scripts/app.js"></script>
