button, input[type="button"] {
  $state-increment: 3%;

  display: inline-block;
  padding: $spacing--small;
  border: 0;
  margin-bottom: $spacing;
  background-color: $branding--primary;
  font-family: sans-serif;
  font-weight: bold;
  line-height: 1;
  color: #fff;

  &:hover {
    background-color: lighten($branding--primary, $state-increment);
  }
  &:focus {
    background-color: lighten($branding--primary, $state-increment * 2);
    outline-color: #000;
  }
  &:active {
    background-color: lighten($branding--primary, $state-increment * 3);
  }
}
